
WEB APP/node_modules/\@ui5/cli/node_modules/.bin/

WEB APP/node_modules/\@ui5/cli/node_modules/\@jridgewell/sourcemap-codec/

WEB APP/node_modules/\@ui5/cli/node_modules/\@npmcli/agent/node_modules/lru-cache/dist/commonjs/

WEB APP/node_modules/\@ui5/cli/node_modules/\@npmcli/agent/node_modules/lru-cache/dist/esm/

WEB APP/ui5.yaml

WEB APP/package-lock.json

WEB APP/package.json

WEB APP/node_modules/\@ui5/cli/

WEB APP/node_modules/
